
.restaurantImage {
    @include widthMax;
    max-height: 250px;
    margin: auto;
    object-fit: cover;
    object-position: center;
}

.sectionMenu {
    @include widthMax;
    @include flexColumn;
    @include flexStartCenter;
    position: relative;
    top: -3rem;
    padding: 2rem 0 3rem 0;
    margin: 0 0 -3rem 0;
    border-radius: 35px 35px 0 0;
    background-color: lighten($colorBlack, 96.5);
}

    .titleMenu {
        width: $widthMobile;
        @include flexRow;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        overflow: hidden;
        margin: 0 0 1rem 0;
        padding: 1rem 0;
        & h1 {
            width: 80%;
            padding: 0 0 0 0.2rem;
        }
        &Logo {
            width: 20%;
            @include heightMax;
            font-size: 1.8rem;
            overflow: hidden;
            border: none;
        }
        & .buttonHeartFillBackground{
            background-color: lighten($colorBlack, 96.5);
        }
    }

    .dishes {
        width: $widthMobile;
        @include heightMax;
        @include flexColumn;
        @include flexStartCenter;
        @include gapBoxMedium;
        margin: 1rem 0;
        transform-origin: top;
        
        & h2 {
            position: relative;
            right: 43%;
            width: 15%;
            border-bottom: 3px solid $colorTertiary; 
            margin: 0 0 0 0.5rem;
            padding: 0 0 0.3rem 0;   
            }
    }

    .dishBox {
        @include widthMax;
        height: 4rem;
        @include flexRow;
        @include flexStartCenter;
        overflow: hidden;
        background-color: $colorWhite;
        border-radius: 15px;
        @include boxShadow;
        animation: dishBoxAppear 800ms $durationSpinnerLoading ease-in-out 1 alternate both;
                
        @for $i from 1 through 4 {
            &:nth-child(#{$i}) {
                animation-delay: $durationSpinnerLoading + (200ms * $i);
            }
        }

        &Content {
            @include widthMax;
            @include heightMax;
            @include flexRow;
            @include flexCenterCenter;
            padding: 0.5rem 0 0.5rem 0.5rem;

            &Text {
                width: 83%;
                @include heightMax;
                @include flexColumn;
                @include flexCenterCenter;

                &Title {
                    @include widthMax;
                    
                    & h3 {
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                }

                &Sides {
                    @include widthMax;

                    & p {
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                }
            }
            &Price {
                width: 17%;
                @include heightMax;
                position: relative;

                & em {
                    position: absolute;
                    left: 30%;
                    top: 60%;
                }
            }
        }

        &Cross {
            width: 17%;
            @include heightMax;
            @include flexRow;
            @include flexCenterCenter;
            background-color: $colorTertiary;

            &Background {
                width: 1.2rem;
                height: 1.2rem;
                @include flexRow;
                @include flexCenterCenter;
                background-color: $colorWhite;
                @include boxRadius;
                & span {
                    color: $colorTertiary;
                    font-size: 0.8rem; 
                }
            }           
        }

    }












