
// BUTTON EXPLORE RESTAURANTS (home page)
.buttonExplore {
    position: relative;
    top: 3.5rem;
    padding: 1rem 1.5rem;
    @include boxShadowRadius50;
    background: linear-gradient(to top left, $colorPrimary, $colorSecondary);
    color: $colorWhite;

    &:hover {
        background: linear-gradient(to top left, $colorPrimaryLight, $colorSecondaryLight);
        @include boxShadowVeryStrong;
    }
}


// BUTTON ORDER (restaurants pages)
.formOrderButton {
    background: linear-gradient(to top left, $colorPrimary, $colorSecondary);
    margin: 2rem 0;
    padding: 1rem 3.5rem;
    border: none;
    @include boxShadowRadius50;
    cursor: pointer;
    & p { 
    color: $colorWhite;
    }
    &:hover {
        background: linear-gradient(to top left, $colorPrimaryLight, $colorSecondaryLight);
        @include boxShadowVeryStrong;
    }
    
}


















