*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // 10px div by def of 16px
    font-size: 62.5%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

body {
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
}

.loadingSpinner {
    z-index: 99;
    @include widthMax;
    @include heightMax;
    @include flexRow;
    @include flexCenterCenter;
    position: fixed;
    background-color: $colorWhite;
    animation: opacitySpinner 2200ms ease-in-out 0ms 1 alternate both;
    &Logo {
        font-size: 4rem;
        color: $colorPrimary;
        animation: rotateThreeTimes 2000ms ease-in 0ms 1 alternate;
    }
}