html, body {
    @include roboto;
    font-size: 1.1rem;
}

.logoHeader p, .headerRestaurantsPage p  {
    @include logoHeader;
}

h1{
    @include robotoExtraBold;
    font-size: 1.5rem;
    margin: 2rem 2rem 1rem 2rem;
}

h2 { 
    @include robotoBold;  
    font-size: 1.5rem;
    margin: 3rem 0 2rem 0;
    @include widthMax;
}

h3 {
    @include robotoBold;  
    font-size: 0.9rem;
    margin: 0 0 0.5rem 0;
    white-space: nowrap;
}


p, a {
    @include roboto;
    font-size: 1.1rem;
}

// HOME PAGES

.blockRestaurantsNew p {
    @include robotoBold;  
    font-size: 0.8rem;
    color: darken($colorTertiary, 38);
}

.operationListItemPositionNumber {
    @include robotoBold;
    font-size: 0.8rem;
    color: $colorWhite;
}

.operationListItemText {
    @include robotoBold;
    font-size: 1rem;
}

.logoFooter > p {
    @include logoFooter;
    margin: 1rem 0;
}

.contactBoxText {
    @include roboto;
    font-size: 0.9rem;
    color: $colorWhite;
}

// MENU PAGES

.titleMenu h1 {
    width: $widthMobile;
    font-family: $shrikhand;
    font-size: 1.6rem;
    margin: 0;
}

.dishes {
    & h2 {
    @include roboto;
    font-size: 1.1rem; 
    text-transform: uppercase;    
    }
    & p {
        @include roboto;
        font-size: 0.8rem;
    }
    & em { 
        @include robotoBold;
        font-size: 0.8rem;
    }
}    








