
.logoHeader p {
    font-family: 'Shrikhand', cursive;
    font-size: 3rem;
}

h1 h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}