// GENERAL TYPOGRAPHY

html, body {
    @include roboto;
    font-size: 1.1rem;
}

.logoHeader p, .headerRestaurantsPageLogo {
    @include logoHeader;
}


h1{
    @include robotoExtraBold;
    font-size: 1.5rem;
    margin: 2rem 2rem 1rem 2rem;

    @include sizeTablet {
        font-size: 1.6rem;
    }
    @include sizeDesktop {
        font-size: 1.8rem;
    }
    @include size4k {
        font-size: 1.9rem;
    }
}

h2 { 
    @include robotoBold;  
    font-size: 1.5rem;
    margin: 3rem 0 2rem 0;
    @include widthMax;    
    max-width: map-get($breakpoints, maxDesktop);
    
    @include sizeTablet {
        font-size: 1.6rem;
    }
    @include sizeDesktop {
        font-size: 1.8rem;
    }
    @include size4k {
        font-size: 1.9rem;
    }
}

h3 {
    @include robotoBold;  
    font-size: 1rem;
    
    @include sizeTablet {
        font-size: 1.1rem;
    }
    @include sizeDesktop {
        font-size: 1.3rem;
    }
    @include size4k {
        font-size: 1.5rem;
    }
}


p, a {
    @include roboto;
    font-size: 1rem;
    
    @include sizeTablet {
        font-size: 1.1rem;
    }
    @include sizeDesktop {
        font-size: 1.3rem;
    }
    @include size4k {
        font-size: 1.5rem;
    }
}

.buttonTypo {
    @include roboto;
    font-size: 0.9rem;
    color: $colorWhite;
    @include sizeTablet {
        font-size: 0.9rem;
    }
    @include sizeDesktop {
        font-size: 1rem;
    }
    @include size4k {
        font-size: 1.1rem;
    }
}

 








