// MAIN 
main {
    @include main;
}

// SECTION OPERATION
    .sectionOperation {
        width: $widthMobile;    
        max-width: map-get($breakpoints, maxDesktop);
        @include heightMax;
        @include flexColumn;
        @include flexStartStart;
    }

        .operationList {
            @include widthMax;
            margin: 0 0 3rem 0;
            @include flexRow;
            @include flexCenterCenter;
            flex-wrap: wrap;
            @include gapBoxLarge; 
            @include sizeDesktop {
                @include flexStartCenter;
            }
        }


// SECTION RESTAURANTS 
    .sectionRestaurants {
        @include widthMax;
        @include heightMax;
        @include flexColumn;
        @include flexStartCenter;
        padding: 0 0 5rem 0;
        background-color: lighten($colorBlack, 96.5);
        & h2 {   
            width: $widthMobile;
        }
    }
        .sectionRestaurantsBlocks {
            width: $widthMobile;    
            max-width: map-get($breakpoints, maxDesktop);
            height: 90%;
            @include flexRow;
            @include flexCenterCenter;
            flex-wrap: wrap;
            @include gapBoxLarge;
        }
