// MAIN 
main {
    @include main;
}

// IMAGE RESTAURANT
.restaurantImage {
    @include widthMax;
    height: 250px;
    margin: auto;
    object-fit: cover;
    object-position: center;
    
    @include sizeTablet {
        height: 450px;
    }
    @include sizeDesktop {
        height: 650px;
    }
    @include size4k {
        height: 1645px;
    }
}

// SECTION MENU
.sectionMenu {
    @include widthMax;
    @include flexColumn;
    @include flexStartCenter;
    position: relative;
    top: -3rem;
    padding: 2rem 0 3rem 0;
    margin: 0 0 -3rem 0;
    border-radius: 35px 35px 0 0;
    background-color: lighten($colorBlack, 96.5); 
   
    @include sizeDesktop {
        @include flexRow;
        @include flexCenterStart;
        flex-wrap: wrap;
    }

    @include size4k {
        max-width: 1480px;
        height: auto;
        @include flexRow;
        @include flexCenterStart;
        flex-wrap: wrap;
        position: absolute;
        top: 180px;
        margin: 0;
        padding: 1rem 0;
        border-radius: 35px;
    }
}

// LAYOUT BUTTON ORDER
    .formOrder {
        @include sizeDesktop {
            width: $widthMobile;
            max-width: 450px;
            @include heightMax;
            @include flexColumn;
            @include flexStartCenter;
            margin: 1rem 1rem;
        }

        @include size4k {
            position: absolute;
            right: 4%;
            top: -1%;
        }
    }

