// IMAGE RESTAURANT
.restaurantImage {
    @include widthMax;
    height: 250px;
    margin: auto;
    object-fit: cover;
    object-position: center;
    
    @include sizeTablet {
        height: 450px;
    }
    @include sizeDesktop {
        height: 650px;
    }
    @include size4k {
        height: 1645px;
    }
}

// SECTION MENU
.sectionMenu {
    @include widthMax;
    @include flexColumn;
    @include flexStartCenter;
    position: relative;
    top: -3rem;
    padding: 2rem 0 3rem 0;
    margin: 0 0 -3rem 0;
    border-radius: 35px 35px 0 0;
    background-color: lighten($colorBlack, 96.5); 
   
    @include sizeDesktop {
        @include flexRow;
        @include flexCenterStart;
        flex-wrap: wrap;
    }

    @include size4k {
        max-width: 1480px;
        height: auto;
        @include flexRow;
        @include flexCenterStart;
        flex-wrap: wrap;
        position: absolute;
        top: 180px;
        margin: 0;
        padding: 1rem 0;
        border-radius: 35px;
    }

}

    .titleMenu {
        width: $widthMobile;
        max-width: 450px;
        @include flexRow;
        @include flexStartCenter;
        position: relative;
        overflow: hidden;
        margin: 0 0 1rem 0;
        padding: 0;
        @include gapBoxMedium;

        @include sizeDesktop {
            @include widthMax;
            max-width: 1200px;
            @include gapBoxLarge;
        }
        @include size4k {
            @include widthMax;
            max-width: unset;
            @include gapBoxExtraLarge;
            padding: 1.5rem 0 2rem 0;
            width: $widthMobile;
            font-family: $shrikhand;
            font-size: 1.5rem;
            margin: 0;
        }
    
        & h1 {
            width: 85%;
            @include heightMax;
            min-height: 3rem;
            @include flexRow;
            @include flexCenterCenter;
            padding: 0 0 0 0.2rem;
            margin: 0;

            font-size: 1.45rem;
            font-family: $shrikhand;
            font-weight: 400;
            

            @include sizeTablet {
                font-size: 1.6rem;
            }
            @include sizeDesktop {
                width: auto;
                margin: 0 1% 0 4%;
                font-size: 1.8rem;
            }
            @include size4k {
                width: auto;
                margin: 0 1% 0 4%;
                font-size: 2rem;
            }
        }
        &Logo {
            width: 15%;
            @include heightMax;
            @include flexRow;
            @include flexCenterCenter;
            font-size: 1.8rem;
            overflow: hidden;
            border: none;
            position: relative;
            right: 0;
            @include sizeTablet {
                font-size: 2rem;
            }
            @include sizeDesktop {
                font-size: 2.5rem;
            }
            @include size4k {
                font-size: 3rem;
            }
        }
        & .buttonHeartFillBackground{
            background-color: lighten($colorBlack, 96.5);
        }
    }

    .dishes {
        width: $widthMobile;
        max-width: 450px;
        @include heightMax;
        @include flexColumn;
        @include flexStartCenter;
        @include gapBoxMedium;
        margin: 1rem 0;
        transform-origin: top;

        @include sizeDesktop {
            margin: 1rem 1rem;
            height: auto;
        }
        @include size4k {
            margin: 0rem 1rem;
            height: auto;
        }
    
        & h2 {
            position: relative;
            right: 43%;
            width: 15%;
            border-bottom: 3px solid $colorTertiary; 
            margin: 0 0 0 0.5rem;
            padding: 0 0 0.3rem 0;
            @include roboto;
            font-size: 1.1rem; 
            text-transform: uppercase; 

            @include sizeTablet {
                font-size: 1.2rem; 
            }
            @include sizeDesktop {
                font-size: 1.3rem; 
            }
            @include size4k {
                font-size: 1.4rem; 
            }
        }
        & h3 {
            @include robotoBold;  
            font-size: 0.9rem;
            margin: 0 0 0.5rem 0;
                
            @include sizeTablet {
                font-size: 1rem;
            }
            @include sizeDesktop {
                font-size: 1.1rem;
            }
            @include size4k {
                font-size: 1.2rem;
            }
        }
        & p {
            @include roboto;
            font-size: 0.7rem;
                
            @include sizeTablet {
                font-size: 0.8rem;
            }
            @include sizeDesktop {
                font-size: 0.9rem;
            }
            @include size4k {
                font-size: 1rem;
            }
    
        }
        & em { 
            @include robotoBold;
            font-size: 0.8rem;
                
            @include sizeTablet {
                font-size: 1rem;
            }
            @include sizeDesktop {
                font-size: 1.1rem;
            }
            @include size4k {
                font-size: 1.2rem;
            }
        }
    }

    //  DISH BOX CONTENT
    .dishBox {
        @include widthMax;
        height: 4rem;
        @include flexRow;
        @include flexStartCenter;
        overflow: hidden;
        background-color: $colorWhite;
        border-radius: 15px;
        @include boxShadow;
        animation: dishBoxAppear 800ms $durationSpinnerLoading ease-in-out 1 alternate both;

        @include sizeTablet {
            height: 4.5rem;
        }
        @include sizeDesktop {
            height: 5rem;
        }
        @include size4k {
            height: 5.5rem;
        }
                
        @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
                animation-delay: $durationSpinnerLoading + (200ms * $i);
            }
        }

        &Content {
            @include widthMax;
            @include heightMax;
            @include flexRow;
            @include flexCenterCenter;
            padding: 0.5rem 0 0.5rem 0.5rem;
  
            @include sizeNoMobile {
                margin: 0 0 0 0.7rem;
            }

            &Text {
                width: 83%;
                @include heightMax;
                @include flexColumn;
                @include flexCenterCenter;

                &Title {
                    @include widthMax;
                    
                    & h3 {
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                }

                &Sides {
                    @include widthMax;

                    & p {
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                }
            }
            &Price {
                width: 17%;
                @include heightMax;
                position: relative;

                & em {
                    position: absolute;
                    left: 30%;
                    top: 60%;
                }
            }
        }

        &Cross {
            width: $widthGreenButton;
            @include heightMax;
            @include flexRow;
            @include flexCenterCenter;
            background-color: $colorTertiary;

            &Background {
                width: 1.2rem;
                height: 1.2rem;
                @include flexRow;
                @include flexCenterCenter;
                background-color: $colorWhite;
                @include boxRadius25;
                & span {
                    color: $colorTertiary;
                    font-size: 0.8rem; 
                }
            }           
        }
    }

    // LAYOUT BUTTON ORDER
    .formOrder {
        @include sizeDesktop {
            width: $widthMobile;
            max-width: 450px;
            @include heightMax;
            @include flexColumn;
            @include flexStartCenter;
            margin: 1rem 1rem;
        }

        @include size4k {
            position: absolute;
            right: 4%;
            top: -1%;
        }
    }












