// ANIMATION FILLING HEART
@keyframes fillingHeart {
    0%{
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-100%);
    }
}

// ANIMATIONS DISH BOX GREEN CROSS
@keyframes crossMove {
    0%{
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}


@keyframes contentMove {
    0%{
        width: 100%;
    }
    100% {
        width: 80%;
    }
}

@keyframes contentMoveDesktop {
    0%{
        width: 100%;
    }
    100% {
        width: 78%;
    }
}

@keyframes priceMove {
    0%{
        width: 79.5%;
    }
    100% {
        width: 62.5%;
    }
}


@keyframes rotate {
    0%{
        transform: rotate(0);
    }
    100% {
        transform: rotate(1turn);
    }
}

@keyframes dishBoxAppear {
    0%{
        opacity: 0;
        transform: translateY(40%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}


// ANIMATIONS SPINNER LOADING
@keyframes opacitySpinner {
    0%{
        opacity: 1;
        z-index: 99;
    }
    85% {
        opacity: 1;
    }
    99% {
        z-index: 99;
    }
    100% {
        opacity: 0;
        z-index: -99;
    }
}

@keyframes rotateTwoTimes {
    0%{
        transform: rotate(0);
    }
    100% {
        transform: rotate(2turn);
    }
}
