
// MIXINS TEXT

@mixin roboto {
    font-family: $roboto;
    font-weight: 400;
    color: $colorBlack;
    text-decoration: none;
}

@mixin robotoBold {
    font-family: $roboto;
    font-weight: 700;
    color: $colorBlack;
    text-decoration: none;
}

@mixin robotoExtraBold {
    font-family: $roboto;
    font-weight: 900;
    color: $colorBlack;
    text-decoration: none;
}

@mixin logoHeader {
    font-family: $shrikhand;
    font-weight: 400;
    color: $colorBlack;
    text-decoration: none;
    font-size: 2.25rem;
    text-align: center;
    @include sizeTablet {
        font-size: 3rem;
        padding: 0.5rem 0;
    }
    @include sizeDesktop {
        font-size: 4rem;
        padding: 1rem 0;
    }
    @include size4k {
        font-size: 5rem;
        padding: 1.5rem 0;
    }
}

@mixin logoFooter {
    font-family: $shrikhand;
    font-weight: 400;
    color: $colorWhite;
    text-decoration: none;
    font-size: 1.1rem;
    text-align: left;
    @include sizeTablet {
        font-size: 1.3rem;
    }
    @include sizeDesktop {
        font-size: 1.5rem;
    }
    @include size4k {
        font-size: 1.8rem;
    }
}


// COLOR

@mixin boxShadow {
    box-shadow: 0px 0px 8px 0px lighten($colorBlack, 80);
}
@mixin boxShadowStrong {
    box-shadow: 0px 0px 5px 5px lighten($colorBlack, 80);
}
@mixin boxShadowVeryStrong {
    box-shadow: 0px 0px 15px 4px lighten($colorBlack, 60);
}
@mixin boxRadius25 {
    border-radius: 25px;
}

@mixin boxRadius50 {
    border-radius: 50px;
}

@mixin boxShadowRadius25 {
    @include boxShadow;
    @include boxRadius25;
}

@mixin boxShadowRadius50 {
    @include boxShadow;
    @include boxRadius50;
}



// SIZES

@mixin widthMax {
    width: 100%;
}

@mixin heightMax {
    height: 100%;
}

@mixin flexColumn {
    display: flex;
    flex-direction: column;
}

@mixin flexRow {
    display: flex;
    flex-direction: row;
}

@mixin flexCenterCenter {
    justify-content: center;
    align-items: center;    
}

@mixin flexStartCenter {
    justify-content: flex-start;
    align-items: center;    
}

@mixin flexCenterStart {
    justify-content: center;
    align-items: flex-start;    
}

@mixin flexStartStart {
    justify-content: flex-start;
    align-items: flex-start;
}

@mixin gapBoxExtraLarge {
    gap: 2.5rem;
}

@mixin gapBoxLarge {
    gap: 1.5rem;
}

@mixin gapBoxMedium {
    gap: 1rem;
}

@mixin gapBoxSmall {
    gap: 0.5rem;
}


// MEDIA QUERIES

@mixin sizeTablet {
    @media screen and (min-width: map-get($breakpoints, minTablet)) and (max-width: map-get($breakpoints, maxTablet)) {
        @content;
    }
}

@mixin sizeDesktop {
    @media screen and (min-width: map-get($breakpoints, minDesktop)) and (max-width: map-get($breakpoints, maxDesktop)) {
        @content;
    }
}

@mixin size4k {
    @media screen and (min-width: map-get($breakpoints, min4k)) {
        @content;
    }
}

@mixin sizeNoMobile {
    @media screen and (min-width: map-get($breakpoints, minTablet)) {
        @content;
    }
}

