
// COLORS
$colorPrimary: #9356DC ;
$colorSecondary: #FF79DA ;
$colorTertiary: #99E2D0 ;
$colorWhite: #ffffff;
$colorBlack: #000000;
$colorPrimaryLight: lighten($colorPrimary, 2%);
$colorSecondaryLight: lighten($colorSecondary, 2%);

// TEXT
$roboto: 'Roboto', sans-serif, "Arial Black", Arial, Verdana;
$shrikhand: 'Shrikhand', cursive, "Arial Black", Arial, Verdana;

// SIZE
$widthMobile: 89.33%;

// TIME
$durationSpinnerLoading: 1500ms;
$durationRotationSpinner: $durationSpinnerLoading - 200ms;